* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: #8bc6ec;
  background-image: linear-gradient(103deg, #8bc6ec 0%, #9599e2 100%);
}

#container {
  border: 1px solid white;
  width: 50vw;
  margin: 1rem auto;
  border-radius: 1rem;
}

button {
  cursor: pointer;
}

header {
  margin: 1.2rem 0;
  font-size: 1.2rem;
}

/* search bar */
.search-bar {
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43vw;
  height: 2.5rem;
  margin: auto;
}

.status {
  background: transparent;
  border: none;
  width: 2.5rem;
}

.location-icon {
  height: 1.5rem;
  width: 1.6rem;
}

.cityNameInput {
  height: 100%;
  background: transparent;
  width: 35vw;
  border: none;
  font-size: 1.3rem;
  border-right: 2px solid white;
  border-left: 2px solid white;
  padding-left: 5px;
  color: white;
}

.cityNameInput:focus {
  outline: none;
}

.search {
  background: transparent;
  width: 2.5rem;
  height: 100%;
  border: none;
}

.search img {
  width: 1.6rem;
}
/* main */
.main {
  margin: 2rem auto 0;
  background: #ffffff5e;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.location {
  text-align: initial;
}

.weather-description {
  margin-top: -1.2rem;
  margin-left: 1.2rem;
  text-transform: capitalize;
}

.city-country {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: -1.6rem;
}

.day {
  font-size: 1rem;
  text-transform: capitalize;
}

.icon {
  margin-top: -2rem;
}

.toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 2rem;
}

.temp {
  padding: 1rem;
  font-size: 4rem;
}

.feels-like,
.humidity {
  font-size: 1.3rem;
  display: inline-block;
  text-transform: capitalize;
}

.feels-like {
  border-right: 2px solid black;
  padding-right: 10px;
}

.humidity {
  padding-left: 5px;
}

.visible {
  animation: zoomInDown;
  animation-duration: 1s;
}

.hide {
  visibility: hidden;
}
