* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #8bc6ec;
  background-image: linear-gradient(103deg, #8bc6ec 0%, #9599e2 100%);
}

#container {
  width: 29vw;
  margin: 1rem auto;
}

button {
  cursor: pointer;
}

header {
  font-family: "Libre Baskerville", serif;
  padding: 1rem 5px;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

/* search bar */
.search-bar {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 2.5rem;
  margin: auto;
  border-radius: 4px;
  background: #ffffff5e;
}

.status,
.search {
  background: transparent;
  border: none;
}

.search,
.status {
  height: 100%;
  width: 2.8rem;
}

.location-icon,
.search img {
  width: 1.6rem;
}

.cityNameInput {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-left: 5px;
}

.cityNameInput:focus {
  outline: none;
}

/* main */
.main {
  margin: 2rem auto 0;
  background: #ffffff5e;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.location {
  text-align: initial;
}

.weather-description {
  margin-top: -1.2rem;
  margin-left: 1.2rem;
  text-transform: capitalize;
}

.city-country {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -1.6rem;
}

.day {
  font-size: 1rem;
  text-transform: capitalize;
}

.icon {
  margin-top: -2rem;
}

.toggle {
  position: absolute;
  right: 1rem;
  top: 2rem;
  background: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 2rem;
}

/* toggler */
input#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

label div {
  background: white;
  width: 3rem;
  padding: 4px 5px;
  display: flex;
  font-size: 12px;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
}

/* .slider {
  background: lightblue;
  border-radius: 13px;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.slide-right {
  animation: slideInLeft;
  animation-duration: 0.5s;
  background: lightblue;
  border-radius: 13px;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-left {
  animation: slideInRight;
  animation-duration: 0.5s;
  background: lightblue;
  border-radius: 13px;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp {
  padding: 1.5rem 0;
  font-size: 4rem;
}

.feels-like,
.humidity {
  font-size: 1.1rem;
  display: inline-block;
  text-transform: capitalize;
}

.feels-like {
  border-right: 2px solid black;
  padding-right: 10px;
}

.humidity {
  padding-left: 5px;
}

.animate {
  animation: zoomInDown;
  animation-duration: 1s;
}

.error {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.hide {
  visibility: hidden;
}
